@use "../mixins" as *;
@use "../variables" as v;

.card {
  padding: 24px 0;

  @media (min-width: v.$tablet-width) {
    padding: 0;
  }

  &--most-popular {
    @media (min-width: v.$tablet-width) {
      grid-column: 1 / -1;
    }
  }
}

.card__photo {
  display: block;
}

.card__title {
  @include text-m-bold;
  margin: 0;
}

.card__info {
  @include text-m-normal(var(--text-primary), none);
  margin: 0;
}

.card__info-term {
  display: inline;
}

.card__info-description {
  display: inline;
  margin-left: 0;
}
