@use "../variables" as v;

.form-review {
  display: grid;

  @media (min-width: v.$tablet-width) {
    row-gap: 48px;
  }

  @media (min-width: v.$desktop-width) {
    row-gap: 56px;
  }
}

.form-review__wrapper {
  position: relative;
  display: grid;

  @media (min-width: v.$tablet-width) {
    grid-template-columns: 1fr 1fr;
    padding-bottom: 15px;

    &::after {
      position: absolute;
      top: 0;
      right: 50%;
      transform: translateX(50%);
      content: "";
      width: 1px;
      height: 100%;
      background-color: var(--background-divider-secondary);
    }
  }
}
