@use "../variables" as v;

.form-review {
  display: grid;

  @media (min-width: v.$tablet-width) {
    row-gap: 48px;
  }

  @media (min-width: v.$desktop-width) {
    row-gap: 56px;
  }
}

.form-review__wrapper {
  display: grid;

  @media (min-width: v.$tablet-width) {
    grid-template-columns: 1fr 1fr;
  }
}
