@use "../variables" as v;

.illustrated-profit {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: v.$tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.illustrated-profit__image {
  display: block;
}
