@use "../variables" as v;

.illustrated-profit {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: v.$tablet-width) {
    display: grid;
    grid-template-columns: 1fr 2fr;

    &--reversed {
      grid-template-columns: 2fr 1fr;
    }
  }
}

.illustrated-profit__image {
  display: block;
  object-fit: cover;

  @media (max-width: v.$mobile-width-only) {
    width: 100%;
  }

  @media (min-width: v.$tablet-width) {
    min-width: 512px;
  }

  @media (min-width: v.$desktop-width) {
    width: 800px;
  }
}
