.index-header {
  background-color: var(--background-additional);
  background-image: url("../img/welcome-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.index-header__welcome {
  display: block;
}
