.inner-page-header {
  background-color: var(--background-inverted);
  background-image: url("../img/sedona-background.jpg");
  background-repeat: no-repeat;
}

.inner-page-header__image {
  display: block;
}
