@use "../variables" as v;

.inner-page-header {
  position: relative;
  min-height: 158px;
  background-color: var(--background-inverted);
  background-image: url("../img/sedona-background-full.jpg");
  background-repeat: no-repeat;

  &::after {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    content: "";
    width: 100%;
    height: 57px;
    background-image: url("../img/welcome-divider.svg");
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 1px 1px 0 var(--background-primary);
  }

  @media (min-width: v.$tablet-width) {
    min-height: 260px;
  }
}

.inner-page-header__image {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  display: block;
}
