@use "../variables" as v;

.main-header {
  position: relative;
  display: grid;
  width: 100%;
}

.main-header__logo-sedona {
  margin: 0 auto;

  @media (min-width: v.$tablet-width) {
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(50%);
    z-index: 1;
  }
}
