@use "../mixins" as *;
@use "../variables" as v;

.modal {
  background-color: var(--background-primary);

  @media (max-width: v.$mobile-width-only) {
    width: 100%;
    min-height: 280px;

    &--hint-error {
      padding: 45px 42px 35px;
    }

    &--hint-success {
      padding: 39px 38px 0;
    }
  }
}

.modal__button-wrapper {
  background-color: var(--background-tertiary);
  padding: 44px;
}
