@use "../mixins" as *;

.page {
  height: 100%;
}

.page__body {
  display: grid;
  min-height: 100%;
  background-color: var(--background-tertiary);
}

.page__container {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  width: 100%;
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--background-primary);
}
