@use "../variables" as v;

.profit {
  //Потом скорректировать внутренний отступ
  padding: 26px;
  width: 100%;

  @media (min-width: v.$tablet-width) {
    width: 33.33%;
  }

  &--primary {
    background-color: var(--background-inverted);
    color: var(--text-inverted);
  }

  &--primary .profit__title {
    color: var(--text-inverted);
  }

  &--primary .profit__description {
    color: var(--text-inverted);
  }

  &--secondary {
    background-color: var(--background-secondary);
  }
}

.profit__serial-number {
  display: block;
  text-align: center;
}
