@use "../mixins" as *;

.social__list {
  @include list-style-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social__item {
  margin-bottom: 3px;
  margin-top: 3px;
}

.social__item + .social__item {
  margin-left: 6px;
}
