@use "../variables" as v;

.video-player {
  margin-right: auto;
  margin-left: auto;

  @media (max-width: v.$mobile-width-only) {
    width: 280px;
    height: 177px;
  }

  @media (min-width: v.$tablet-width) {
    width: 648px;
    height: 500px;
  }

  @media (min-width: v.$desktop-width) {
    width: 800px;
    height: 500px;
  }
}

.video-player__video-frame {
  @media (max-width: v.$mobile-width-only) {
    width: 280px;
    height: 177px;
  }

  @media (min-width: v.$tablet-width) {
    width: 648px;
    height: 500px;
  }

  @media (min-width: v.$desktop-width) {
    width: 800px;
    height: 500px;
  }
}
