@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin text-s-normal($color: var(--text-additional)) {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: $color;
}

@mixin text-m-normal($color: var(--text-primary)) {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $color;
}

@mixin text-m-bold($color: var(--text-primary)) {
  @include text-m-normal($color);
  font-weight: 700;
}

@mixin text-l-bold($color: var(--text-primary)) {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color;
}

@mixin text-xl-bold($color: var(--text-primary)) {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: $color;
}
